<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <p> Hi, this is the sign up page </p>
    <p> Today's date {{ dt }} </p>
</body>
<style>
    body {
        background-color: black;
        font-family: Arial, sans-serif;
        text-align: center;
        padding-top: 50px;
    }
    p {
        font-size: 24px;
        color: yellowgreen;
    }
    </style>
</html>